html {
  font-size: 20px;
  /*font-family: 'Quintessential', cursive;*/
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}
body {
  background-color: #232323;
  position: relative;
  min-height: 100vh;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: .5;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.main-heading {
  font-weight: 300;
  font-family: 'Tangerine', cursive;
  font-size: 3rem;
  text-transform: capitalize;
  text-align: center;
  margin-top: 4rem;
}

.quote-box {
  line-height: 2rem;
  letter-spacing: 2px;
  word-spacing: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 70vh;
}

.quote-author { font-size: 1.2rem; }

.buttons-box {
  position: fixed;
  top: 50%;
  right: 5rem;
}

.btn,
.btn:link,
.btn:visited {
  color: rgba(255, 255, 255, .2);
  font-size: 2rem;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: inherit;
  padding: 1.5rem 1.5rem;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 5px;
  transition: all .2s;
  cursor: pointer;
}

.btn:hover {
  color: rgba(255, 255, 255, .3);
  background-color: rgba(0, 0, 0, .4);
}

.btn:active {
  transform: translateY(2px);
}
