.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(-135deg, rgba(156, 223, 79, 0.4), transparent, rgba(82, 92, 102, 0.9)),
  linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
}