.Header {
  text-align: center;
  font-family: 'Tangerine', cursive;
  font-size: 2rem;
  margin-top: 1.5rem
}

@media (min-width: 600px) and (min-height: 450px) {
  .Header {
    font-size: 3rem;
    margin-top: 2.5rem;
  }
}

@media (min-width: 768px) and (min-height: 600px) {
  .Header {
    margin-top: 3rem;
  }
}

@media (min-width: 1024px) {
  .Header {
    font-size: 4rem;
  }
}